# Created by .ignore support plugin (hsz.mobi)
/.vagrant/
/.idea
/venv/
.python
venv/
/pbc/selenium_grid/.cache/
/tests/unit_tests/.cache/
/study.py
/geckodriver.log
/pbc/selenium_grid/geckodriver.log
.cache/
/pbc/selenium_grid/pycon.png
/pbc/selenium_grid/python.png
/pycon.png
/python.png
